table {
    width: 20%;
    margin: 1.5em 0 1.5em 0;
    overflow: auto;
    padding: 5px;
    border: 2px solid white;
    background-color: #F9F9F9;
    outline: 1px solid silver;
}

p, table, ul {
    width: 60%;
    font-size: 25px;
}